* {
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  width: 100vw;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #636b6f;
  padding-bottom: 0.1rem;
}

.top-left {
  width: 40vw;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.top-right {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}


.links {
  color: #636b6f;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  /* padding: 0 5%; */
}
.links:hover {
  color: #636b6f;
}

.links:hover {
  border-bottom: 1px solid #636b6f;
}



.copy_right {
  height: 5vh;
  width: 100vw;
  color: #636b6f;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left-button {
  display: flex;
  text-decoration: none;
  color: #636b6f;
}
