.title {
  margin-top: 13vh;
  text-align: center;
  color: #636b6f;
  font-size: 60px;
}

.container {
  margin-top: 10vh;
  text-align: center;
}

.stamp {
  padding: 25px;
  font-size: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 2px solid #636b6f;
  border-radius: 5%;
  color: #636b6f;
}

.stamp:hover {
  cursor: pointer;
  color: black;
  border: 2px solid black;
}

.hiddenStamp {
  height: 0;
  width: 0;
  display: none;
}
