.user {
  text-align: right;
  margin-top: 2vh;
  margin-right: 3vw;
}

.user a {
  text-decoration: none;
  color: #636b6f;
}

.user a:hover {
  border-bottom: 1px solid black;
  color: black;
}

.title {
  margin-top: 13vh;
  text-align: center;
  color: #636b6f;
  font-size: 60px;
}

.container {
  margin-top: 10vh;
  text-align: center;
}

.stamp {
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  border-bottom: 3px solid #627295;
  border-radius: 5%;
  color: #fff;
}

.stamp_in {
  background-color: #E7833C;
}
.stamp_out {
  background-color: #283EDF;
}

.stamp:hover {
  cursor: pointer;
  color: black;

}

.stamp:active {
  transform: translateY(4px);
  border-bottom: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.hiddenStamp {
  height: 0;
  width: 0;
  display: none;
}
